extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
      .col-md-7
        h1= pagina         
        blockquote Integer sit amet elementum neque, et volutpat eros. Nulla gravida massa a arcu maximus interdum vitae sed odio. Sed dictum ornare justo, in molestie ante vulputate vel. Fusce dapibus magna eget placerat fringilla. Donec varius tortor vel turpis tempus interdum. Pellentesque augue risus, porta nec massa in, lacinia molestie dolor. In tristique tortor dolor, gravida dictum leo volutpat auctor. Aenean efficitur mattis diam feugiat vulputate. Mauris viverra mollis molestie.

        p Vivamus varius, augue viverra rhoncus auctor, ex lectus gravida elit, sed porta est augue ac ipsum. Mauris id ligula condimentum elit tristique auctor a sed augue. Sed porttitor urna et nulla consectetur, sed blandit tortor pretium. Vivamus tempus luctus turpis, nec sagittis nunc molestie in. Proin hendrerit vehicula ultricies. Aliquam elementum eleifend interdum. Morbi semper tellus at bibendum maximus.

        p Cras rhoncus convallis libero sed lacinia. Aenean non porttitor ipsum, non placerat nisl. Nulla dapibus mauris quis pulvinar rhoncus. Nulla auctor, ligula et elementum facilisis, urna odio scelerisque velit, eget ornare nibh libero vel mi. Morbi eu enim sit amet sem tincidunt eleifend.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Cras rhoncus convallis libero sed lacinia. Aenean non porttitor ipsum, non placerat nisl.

        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Cras rhoncus ivamus varius, augue viverra rhoncus auctor, ex lectus gravida elit.

        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
          h2.mb-4 Mejores Precios
          p  Massa a arcu maximus interdum vitae sed odio. Aenean non porttitor ipsum, non placerat nisl.